include partials/boilerplate
include partials/header
link(rel="stylesheet" href="/public/css/contact.css")
form
    h2 Contact Me
    input(type="text" placeholder="Enter your name:")
    input(type="email" placeholder="Enter your email:")
    input(type="text" placeholder="Enter title:")
    textarea(placeholder="Enter your message:")
    button Submit
